{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
{% endblock %}
{% block title %}{{parent()}} Home{% endblock %}

{% block body %}
    {#  Import navbar #}
    {{ parent() }}
    <img class="header-picture" id="green" src="images/homepage-main-picture.jpeg" alt="Blured picture of bikes ">
    <div class="picture-overlay container">
        <h1>Redescendre sans jamais grimper</h1>
        <p>Réservez votre matériel de descente dans les meilleurs ateliers des plus grandes stations de sports d’hiver.</p>
        <a href="#">Découvrez les stations</a>
    </div>

    <div class="container steps-container">
        <div class="step">
            <img class="step-picture" src="images/homepage-firecamp-icon.png" alt="Firecamp icon"></src>
            <h3 class="step-title">Sélectionnez votre station</h3>
            <p class="step-description">Retrouvez les principales informations des stations : plan, météo, tarifs…</p>
        </div>
        <div class="step">
            <img class="step-picture" src="images/homepage-ticket-icon.png" alt=""></src>
            <h3 class="step-title">Choisissez vos dates de séjour</h3>
            <p class="step-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="step">
            <img class="step-picture" src="images/homepage-paper-icon.png" alt=""></src>
            <h3 class="step-title">Sélectionnez votre loueur</h3>
            <p class="step-description">De nombreux loueurs sont présents sur la plateforme. Sélectionnez celui qui correspond au mieux à votre discipline, budget ou localisation</p>
        </div>
        <div class="step">
            <img class="step-picture" src="images/homepage-fishing-icon.png" alt=""></src>
            <h3 class="step-title">Réservez</h3>
            <p class="step-description">Une fois votre matériel trouvé, envoyez une demande de réservation au loueur et attendez sa confirmation</p>
        </div>

    </div>
{% endblock %}
