{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}">
{% endblock %}
{% block title %}Hello test!{% endblock %}

{% block body %}
    {#  Import navbar #}
    {{ parent() }}
    <img class="header-picture" id="green" src="images/homepage-main-picture.jpeg" alt="Blured picture of bikes ">
    <div class="picture-overlay container">
        <h1>Redescendre sans jamais grimper</h1>
        <p>Réservez votre matériel de descente dans les meilleurs ateliers des plus grandes stations de sports d’hiver.</p>
        <a href="#">Découvrez les stations</a>
    </div>
{% endblock %}
